{% extends 'base.html' %}
{% block content %}
    <div class="container my-5">
    <!-- Page Heading -->
    <h2 class="text-center mb-4">Student List</h2>

    <!-- Search Box -->
    <div class="row mb-3">
      <div class="col-md-6 offset-md-3">
        <input type="text" class="form-control" placeholder="Search students...">
      </div>
    </div>

    <!-- Student Table -->
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Username</th>
            <th>Matric Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for student in students %}
          <tr>
            <td>{{ student.id }}</td>
            <td>{{student.name}}</td>
            <td>{{student.user.email}}</td>
            <td>{{student.phone_number}}</td>
            <td>{{student.user.username}}</td>
            <td>{{student.matric_number}}</td>
            <td>
              <a class="btn btn-sm btn-primary" href="{% url 'view' student.id %}" >View</a>
              <a class="btn btn-sm btn-danger" href="{% url 'delete' student.id %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
