{% extends "base.html" %}
{% block content %}
<div class="mb-3">
            <label for="name" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ student.user.username}}" readonly>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" value="{{ student.user.email}}" readonly>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Phone number</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ student.phone_number}}" readonly>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ student.name}}" readonly>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Matric Number</label>
            <input type="text" class="form-control" id="matric_number" name="matric_number" value="{{ student.matric_number}}" readonly>
        </div>
        <img src="{{MEDIA_URL}}/{{student.image_path}}">
{% endblock %}

